/* sets the behavior of the width and height properties, as well as the size of the padding and margin for each element */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* sets background color for the webpage */
body {
    background-color: #d9dcd6;
}

/* sets the padding size, fonts used, and background and text color for the header */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* sets the font size and tells it that the heading in the header section should not have a line break */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* sets the color for the class "seo" located within the first heading within the header class */
.header h1 .seo {
    color: #d9dcd6;
}

/* defines the dimensions of the space located around the class "header". sets the section to be on the right of the page, which fonts it should 
use, and the font size */
.header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* makes it so no marker type will be shown in the unordered list within the header */
.header section ul {
    list-style-type: none;
}

/* sets the left margin and makes it so each element within the unordered list within the header will sit on the same line */
.header section ul li {
    display: inline-block;
    margin-left: 25px;
}

/* sets the text color and decoration for all hyperlinks */
a {
    color: #ffffff;
    text-decoration: none;
}

/* sets the font size for all paragraphs */
p {
    font-size: 16px;
}

/* defines the usage of the area surrounding the hero class, as well as the image being used, the image's size, and where it should be positioned  */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./assets/images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* tells the image within the class "float-left" to be positioned on the left of its section and how big its right margin should be */
.float-left {
    float: left;
    margin-right: 25px;
}

/* tells the image in the class "float-right" to be positoned on the right of its section and how big its left margin should be */
.float-right {
    float: right;
    margin-left: 25px;
}

/* sets the width of the class "content" to take of 75% of the screen, to not cause a page break, and sets the spacing for the left margin */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* sets the right margin and padding, will not push below left or right floated elements, sets the width and height as well as the font being used
and the background color for the class "benefits" */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* sets the bottom margin and text color for each class listed directly below */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* sets the bottom margin and aligns the text to the center for each heading 3 elements within the classes listed directly below */
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* sets a line break, margin, and max width for the classes listed directly below */
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* sets the dimensions for the bottom margin, padding, and height. also sets the font used and background and text colors for each 
class listed directly below */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* sets the max height to 200 pixels for the element for each class listed directly below */
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

/* sets the dimensions of the bottom margin and font size for each class listed directly below */
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2  {
    margin-bottom: 20px;
    font-size: 36px;
}

/* sets the padding, will not push below left or right floated elements, determines the font used, and aligns text to the center of the elements for
the class "footer" */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* sets the font size for the heading 2 within the footer class */
.footer h2 {
    font-size: 20px;
}
